

.bg-higher {
    background-color: rgba(0, 0, 0, 0.534);
}

.margin-left-20 {
    margin-left: 20%;
    margin-top: 54px;
}

.title-size {
    font-size: 4em;
}

.text-size {
    font-size: 1.3em;
}

.container-for-modelviewer {
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
}

#model-planet {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
}

.model-description {
    font-size: 0.9em;
}

.style-font {
    font-size: 1.6em;
}

/* top-background */

.style-top-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100dvh;
    flex-wrap: wrap!important; 
}

.mercury {
    background-image: url(../assets/images/mercury-page.webp);
}

.venus {
    background-image: url(../assets/images/venus-page.webp);
}

.earth {
    background-image: url(../assets/images/earth-page.webp);
}

.mars {
    background-image: url(../assets/images/mars-page.webp);
}


.card-exploring {
    height: 610px;
    min-width: 18rem;
    max-width: 28rem;
}

/* background-cards */

.style-background {
    background-position: center;
    background-size: cover;
}

.style-background:hover {
    transform: scale(1.1);
}

.keep-mercury {
    background-image: url(../assets/images/mercury-page.webp);
}

.keep-venus {
    background-image: url(../assets/images/venus-page.webp);
}

.keep-earth {
    background-image: url(../assets/images/earth-page.webp);

}

.keep-mars {
    background-image: url(../assets/images/mars-page.webp);
}

.keep-jupiter {
    background-image: url(../assets/images/jupiter-page.webp);
}

.keep-saturn {
    background-image: url(../assets/images/saturn-page.webp);
}

.keep-uranus {
    background-image: url(../assets/images/uranus-page.jpg);
}

.keep-neptune {
    background-image: url(../assets/images/neptune-page.jpg);
}

@media(max-width: 768px) {
    .margin-left-20 {
        margin-left: 0;
    }

    .style-background:hover {
        transform: none;
    }

    .container-for-modelviewer {
        width: 95%;
    }
}