.max-w-200 {
    max-width: 200px;
}

.min-w-360 {
    min-width: 370px;
}

.bg-info {
    background-color: rgb(51, 51, 51)!important;
}

.bg-info:hover {
    background-color: rgb(88, 88, 88)!important;
}

.bg-specific {
    background-color: rgba(0, 0, 0, 0.466);
}

.m-inline-auto {
    margin-top: auto;
    margin-inline: auto;
}

.text-small {
    font-size: large;
}

/* Animated Background */

@keyframes move-clouds-back {
    from {background-position: 0, 0;}
    to {background-position: 10000px 0;}
}

@keyframes move-twinkle-back {
    from {background-position: 0, 0;}
    to {background-position: -10000px 5000;}
}

.stars, .twinkling, .clouds {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block; 
}

.stars{
    background: #000 url('../assets/stars.png') repeat top center;
    z-index: 0;
}

.m-image {
    width: 100%;
    max-width: 300px;
}

.twinkling {
    background:  transparent url(../assets/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twinkle-back 30s linear infinite;
}

/* Background Parallax */

.black-hole-background {
    background-image: url(../assets/black-hole.webp);
    height: 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.829);
}

.font-sm {
    font-size: 0.9em;
}

@media(max-width: 768px) {
    .min-w-360 {
        min-width: 200px;
    }
}

