* {
    padding: 0;
    margin: 0;
}

.text-medium {
    font-size: 0.7em;
}

.all-cards-size {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 300px;
    transition: 0.5s;
}

#children-card {
    transition: 0.5s;
    z-index: -5;
    opacity: 0;
    margin-left: -220px;
}

.animation-planet {
    transition: 0.5s;
}

.animation-planet:hover {
    transform: translate(-220px);
    transition: 0.5s;
}

.animation-planet:hover #children-card {
    transform: translate(230px, 0);
    transition: 0.5s;
    opacity: 1;
}