.video-content {
    height: 100dvh;
    display: flex;
    align-items: end;
    margin: 0;
    padding: 0;
}

.earth-video {
    height: 100dvh;
    width: 100%;
    object-fit: cover;
    object-position: left;
    position: absolute;
}

.caroulsel-content {
    height: max-content;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.301);
    width: 100%;
    display: flex;
}


.carousel-item:hover div {
    cursor: pointer;
}


.carousel-indicators  {
    display: none; 
}

.carousel-item {
    transition: 0.5s
}

.carousel-item.active {
    display: flex;
    justify-content: center;
    transition: 0.5s;
}