.mercury {
    background-image: url(../assets/mercury-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100dvh;
    flex-wrap: wrap!important; 
}

.bg-higher {
    background-color: rgba(0, 0, 0, 0.534);
}

.margin-left-20 {
    margin-left: 20%;
    margin-top: 54px;
}

.title-size {
    font-size: 4em;
}

.text-size {
    font-size: 1.3em;
}

#planet-model {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0);
}

@media(max-width: 768px) {
    .margin-left-20 {
        margin-left: 0;
    }
}