@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* NAVBAR */

#overlaid {
  z-index: 2;
}

.bg-nav {
  background-color: rgb(0, 53, 167);
}

.flex {
    display: flex;
    align-items: center;
}

.icon-burguer {
  font-size: 2.5em;
  text-align: center;
}

.icon-nav {
  width: 4em;
  cursor: pointer;
}

.config-text {
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
}

.thin-text {
  font-weight: 600;
}

.btn-primary {
  --bs-btn-color: #fff;
}

.btn-primary {
  --bs-btn-bg: #00000000;
  border: 0;
  --bs-btn-active-bg: rgba(114, 114, 114, 0.37);
}

.btn-primary:hover {
  background-color: rgba(114, 114, 114, 0.37);
}

.btn-primary:hover {
  --bs-btn-hover-border-color: rgba(114, 114, 114, 0.37);
}

.new-font {
  font-family: 'Roboto Slab', serif;
}

.dropdown-item {
  font-weight: 600;
  color: rgb(70, 70, 70);
  padding-right: 30px;
  font-size: 1.1em;
}

.dropdown-button button {
  font-size: large;
}

.dropdown-item:hover {
  color: black;
  background-color: rgba(226, 226, 226, 0.575);
}

.btn-close {
  --bs-btn-close-bg: url(../assets/x.png);
  color: white;
  font-size: 1.2em;
  margin: 0!important;
  width: 10%;
}

.subtitle-text {
  font-weight: 500;
  padding: 6px;
  color: rgb(77, 77, 77);
  font-size: 1.1em;
}

.container-grid {
  min-width: 260px;
  max-width: 350px;
}

@media(max-width: 1068px) {
    .show-desktop{
    display: none;
  }
}

@media(min-width: 1068px) {
  .show-mobile {
    display: none;
  }
}

@media(max-width: 768px) {
  .dropdown-button button {
    font-size: 1.4em;
  }

  .config-text {
    font-size: 0.9em;
  }

  .icon-nav {
    font-size: 1em;
  }

  .icon-burguer {
    font-size: 2.3em;
  }

  .icon-nav {
    margin: 0;
  }

  #navbar {
    margin-top: 20px;
  }
}

/* CONTENT GIF */
