@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0; 
}

.cursor-pointer {
    cursor: pointer;
}

.transition {
    transition: 0.5s;
}

.simple-card {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center center;
}

.simple-card:hover {
    transform: scale(1.1)
}

.text-index {
    z-index: 1;
    background-color: white;
}

